form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 10px;
}
input {
  color: rgb(218, 212, 212);
}
input:disabled {
  background-color: black;
}

#master-detail-container {
  border: 2px solid #c2185b;
  display: flex;
  flex-direction: row;

  width: fit-content;
}
button {
  margin: 5px;
}
table {
  flex: 1;
  margin: 10px;
  padding: 10px;
  min-width: 400px;
  min-height: fit-content;
}

select {
  color: rgb(218, 212, 212);
}
#dialog-div {
  display: flex;
  flex-direction: column;
  height: 600px;
}

table {
  height: min-content;
}
